<nb-card [size]="size" *ngIf="mode === Mode.APPOINTMENT">
  <nb-card-header>
    <h6>
      {{title}}
    </h6>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="enableEdit">
      <div class="col-sm-12"><button nbButton fullWidth size="small" (click)="clickAdd()">Add <nb-icon icon="plus-outline"></nb-icon></button></div>
    </div >
      <table class="table table-hover">
        <thead>
          <th >Time From</th>
          <th >Time To</th>
          <th >Doctor</th>
        <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
                <td>{{row["timeFrom"]}}</td>
                <td>{{row["timeTo"]}}</td>
                <td>{{row["doctor"]}}</td>
                <td><button nbButton size="small"><nb-icon icon="trash-outline" status="warning" (click)="delete(row)"></nb-icon></button></td>
          </tr>
          <tr *ngIf="rows">
            <td colspan="3">{{getCount(rows)}}</td>
          </tr>
          <ng-container *ngIf="rows && rows.length == 0">
            No content to show
          </ng-container>
        </tbody>
      </table>
  </nb-card-body>
</nb-card>


<nb-card [size]="size" *ngIf="mode === Mode.DISEASE">
  <nb-card-header>
    <h6>
      {{title}}
    </h6>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="enableEdit">
      <div class="col-sm-12"><button nbButton fullWidth size="small"  (click)="clickAdd()">Add <nb-icon icon="plus-outline"></nb-icon></button></div>
    </div >
    <table class="table table-hover">
      <thead>
      <th>Type</th>
      <th>Name</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td>{{row["type"]}}</td>
        <td>{{row["name"]}}</td>
        <td><button nbButton size="small"><nb-icon icon="trash-outline" status="warning" (click)="delete(row)"></nb-icon></button></td>
      </tr>
      <tr *ngIf="rows">
        <td colspan="3">{{getCount(rows)}}</td>
      </tr>
      <ng-container *ngIf="rows && rows.length == 0">
        No content to show
      </ng-container>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>


<nb-card [size]="size" *ngIf="mode === Mode.FEEDBACK">
  <nb-card-header>
    <h6>
      {{title}}
    </h6>
  </nb-card-header>
  <nb-card-body>
    <div class="row" >
      <div class="col-sm-12"><button nbButton fullWidth size="small"  (click)="clickAdd()">Add <nb-icon icon="plus-outline"></nb-icon></button></div>
    </div >
    <table class="table table-hover">
      <thead>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td>{{row["title"]}}</td>
        <td>{{row["text"]}}</td>
        <td><button nbButton size="small"><nb-icon icon="trash-outline" status="warning" (click)="delete(row)"></nb-icon></button></td>
      </tr>
      <tr *ngIf="rows">
        <td colspan="3">{{getCount(rows)}} rows</td>
      </tr>
      <ng-container *ngIf="rows && rows.length == 0">
        No content to show
      </ng-container>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
