

<div class="container">
  <div class="row">
    <div class="col-md-6">
<!--      Appointment -->
      <app-item-management (deleteItem)="deleteAppointment($event)" (openAdd)="addAppointment()" title="Appointments" [mode]="Mode.APPOINTMENT" [rows]="appointment" [columns]="getServiceColumns()" ></app-item-management>
    </div>
    <div class="col-md-6">
<!--      disease-->
      <app-item-management (deleteItem)="deleteDisease($event)" (openAdd)="addDisease()" title="Disease" [mode]="Mode.DISEASE" [rows]="disease" [columns]="getDiseaseColumns()"></app-item-management>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!--      Feedback-->
      <app-item-management (deleteItem)="deleteFeedback($event)" (openAdd)="addFeedBack()" title="Feedback" [mode]="Mode.FEEDBACK"  [rows]="feedback" [columns]="getFeedbackColumns()"></app-item-management>
    </div>
  </div>
</div>
