<nb-card size="large">
  <nb-card-header><h1>{{name}}</h1></nb-card-header>
  <nb-card-body class="w-100">
    <div class="container">
      <div clas="row">
        <div class="col-md-9">
          <label for="patient">Patient Name</label>
          <input id="patient" fullWidth nbInput [(ngModel)]="patientName">
        </div>
        <div class="col-md-3">
          <button nbButton fullWidth (click)="getPatient()">Find Patient</button>
        </div>
      </div>
      <div class="row">
        <app-patient-dashboard>
        </app-patient-dashboard>
      </div>
    </div>

  </nb-card-body>
</nb-card>
