<nb-card size="large">
  <nb-card-header><h1>{{name}}</h1></nb-card-header>
  <nb-card-body class="w-100" >
    <div class="container">
      <div class="row">
        <nb-accordion >
          <nb-accordion-item >
            <nb-accordion-item-header>
              Patients
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <ngx-datatable
                class="material"
                [rows]="accounts"
                [columns]="columns"
                (activate)="selectRow($event)"
              >
              </ngx-datatable>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      <div class="row" *ngIf="selectedPatient">
        <app-patient-dashboard >
        </app-patient-dashboard>
      </div>
    </div>
    </div>

  </nb-card-body>
</nb-card>
