<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-header>
    <h2>Disease</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="container" >
      <form [formGroup]="formGroup" (ngSubmit)="addDisease()">
    <div class="row" >
      <div class="col-md-6">
        <label>Name</label>
        <input formControlName="name" fullWidth nbInput/>
      </div>
      <div class="col-md-6">
        <label>Type</label>
        <input formControlName="type" fullWidth nbInput/>
      </div>
    </div>
      <div class="row mt-3" *ngIf="formGroup.valid">
        <div class="col-md-12">
        <button nbButton type="submit">Add Disease</button>
        </div>
      </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>
