<nb-card size="small">
  <nb-card-header>
    <h2>Appointment</h2>
  </nb-card-header>
  <nb-card-body>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <label>date</label>
            <input nbInput fullWidth [nbDatepicker]="datepickerComponent" [formControl]="getControl('date')" >
            <nb-datepicker #datepickerComponent></nb-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Time From</label>
            <input nbInput fullWidth [nbTimepicker]="timePickerfrom" [formControl]="getControl('timeFrom')" >
            <nb-timepicker #timePickerfrom></nb-timepicker>
          </div>
          <div class="col-md-6">
            <label>Time To</label>
            <input nbInput fullWidth [nbTimepicker]="timePickerto" [formControl]="getControl('timeTo')"  >
            <nb-timepicker #timePickerto></nb-timepicker>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <button fullWidth (click)="addDate()" type="submit" nbButton>Add Date</button>
          </div>
        </div>
      </div>
    <pre>§
    </pre>
  </nb-card-body>
</nb-card>
